@model Demo_Compas_App.Models.User_Reg
@{
    ViewBag.Title = "Index";
}
<html>
<h2>Compass Group Application</h2>
<head>
    <title>Login Page</title>
    <style>
        #login-div {
        position:absolute;
        left:40%;
        top:40%;
        background:1px border-box red;
        padding:10px 10px;        
        }
        .ValidationError {
            color:gold;
            }
       </style>
</head>
<body>
<div id="login-div">
   @using (Html.BeginForm("autherize","Login",FormMethod.Post))
   {
       <table>
           <tr>
               <td>
                   @Html.LabelFor(model => model.UserName)
               </td>
            <td>
                @Html.TextBoxFor(model => model.UserName)
            </td>
           </tr>
           <tr>
               <td></td>
               <td>@Html.ValidationMessageFor(model => model.Name)</td>
           </tr>
           <tr>
               <td>
                   @Html.LabelFor(model => model.Password)
               </td>
           
               <td>
                   @Html.PasswordFor(model => model.Password)
               </td>
           <tr>
           <tr>
               <td></td>
               <td>@Html.ValidationMessageFor(model => model.Password)</td>
           </tr>
           <tr>
               <td colspan="2"> <label class="ValidationError">@Html.DisplayFor(model => model.Loginerror) </label></td>
           </tr>
           <tr>
                 <td> </td>
                   <td> <input type="submit" value="Login" />
                        <input type="reset" value="Clear" />           
                  </td>
           </tr>
       </table>
   }
</div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</body>
</html>